* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  color: white;
  top: 0;
  width: 100vw;
  position: fixed;
  flex-wrap: wrap;
  overflow: hidden;
}

header img {
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 20px;
}

#navbar ul {
  width: 626px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

#navbar ul li {
  /* border: 5px solid brown; */
  list-style: none;
}
#navbar ul li a {
  /* border: 5px solid yellow; */
  text-decoration: none;
  color: white;
  font-size: 23px;
  text-transform: uppercase;
}

#navbar ul li a:hover {
  /* border: 5px solid yellow; */
  text-decoration: none;
  color: white;
  font-size: 23px;
  text-transform: uppercase;
  background-color: purple;
  border: 2px solid red;
  padding: 4px;
  border-radius: 20%;
}
footer {
  /* border: 2px solid red; */
  background-color: black;
  /* padding: 4px 0; */
  color: whitesmoke;
  width: 100vw;
}

footer ul {
  /* border: 2px solid green; */
  display: flex;
  padding-top: 6px;
  justify-content: center;
}

footer ul li {
  /* border: 2px solid blue; */
  padding: 0 10px;
  list-style: none;
}

footer ul li a {
  width: 10px;
}

footer h1 {
  /* border: 2px solid yellow; */
  font-size: 24px;
  text-align: center;
}
