*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  margin-top: 80px;
  /* background:   #fff; */
  background: linear-gradient(to right, purple,blue);
  padding: 50px 0;
  /* border: 3px solid red; */
}

.project {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100vw;
  flex-wrap: wrap;
}

.project_cont {
  border: 2px solid rgb(151, 148, 148);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 300px;
  height: 500px;
  overflow: hidden;
  margin: 20px 25px;
  padding: 9px;
  flex: 1 1 20rem;
  background: #eff;
  border-radius: 10%;
  /* background: linear-gradient(to right, purple, blue); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.project_cont .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  /* border: 1px solid orange; */
}
.project_cont .img img {
  max-width: 200px;
  height: 150px;
  border-radius: 20%;
  margin: 15px;
  /* border: 7px solid yellow; */
}

.project_cont .det .h2 {
  /* border: 7px solid black; */
  max-width: 100%;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.project_cont .det p {
  /* border: 7px solid black; */
  max-width: 100%;
  font-family: "Times New Roman", Times, serif;
  /* text-transform: uppercase; */
  font-size: 15px;
  text-align: justify;
  padding: 10px;
}
.project_cont .det .learn a{
    text-decoration: none;
        text-align: center;
        display: inline-block;
        color: #fff;
        background: linear-gradient(to right, purple, blue);
        padding: 10px 20px;
        text-align: center;
        border: 3px solid rgb(56, 151, 68);
        margin: auto 0;
        width: 250px;
        border-radius: 50px;
}
