.hero{
  height: 1000px;
  background: linear-gradient(purple,blue);
  margin-top: 80px;
  
}


.hero .img {
  display: flex;
  padding-top: 57px;
   justify-content: center;
}
.hero .img img{
  border: 2px solid white;
  border-radius: 40%;
  justify-content: center;
}

.hero_content{
  margin-top: 50px;
  /* border: 2px solid red; */
  text-align: center;
  padding: 0 40px;
  color: aliceblue;
}


.hero_content h1{
  font-size: 56px;
}
.hero_content .desc{
  font-size: 30px;
}